In [1]:
import pandas as pd
file=pd.read_excel("coronaglobalstats-kopi.xlsx")

In [2]:
#in order to remove commas:
filenod=file.replace(to_replace=",",value="",regex=True)
#in order to make it numeric again we need to go through every file:
filenod["cases"]=pd.to_numeric(filenod["cases"])
filenod["recovered"]=pd.to_numeric(filenod["recovered"],errors="coerce")
filenod["deaths"]=pd.to_numeric(filenod["deaths"], errors="coerce")

In [3]:
filenod[4:10]

,timestamp,country,cases,deaths,recovered,death pr case
4,2020-03-13 16:11:09.958,Spain,4209,120.0,189.0,28.510335
5,2020-03-13 16:11:09.958,Germany,3117,7.0,46.0,2.245749
6,2020-03-13 16:11:09.958,France,2876,61.0,12.0,21.210014
7,2020-03-13 16:11:09.958,USA,1832,41.0,31.0,22.379913
8,2020-03-13 16:11:09.958,Switzerland,1135,7.0,4.0,6.167401
9,2020-03-13 16:11:09.958,Norway,895,1.0,1.0,0.001117

In [4]:
import datetime

In [5]:
b=datetime.datetime.today().replace(minute=0,second=0,microsecond=0)
b

datetime.datetime(2020, 3, 25, 14, 0)

In [6]:
listof0=[]
for element in filenod["timestamp"]:
    zero=element.replace(minute=0,second=0,microsecond=0)
    listof0.append(zero)

In [7]:
filenod.update({"timestamp":listof0})

In [8]:
filenod

,timestamp,country,cases,deaths,recovered,death pr case
0,2020-03-13 16:00:00,China,80815,3177.0,64152.0,0.039312
1,2020-03-13 16:00:00,Italy,15113,1016.0,1258.0,0.067227
2,2020-03-13 16:00:00,Iran,11364,514.0,3529.0,45.230553
3,2020-03-13 16:00:00,S. Korea,7979,71.0,510.0,8.898358
4,2020-03-13 16:00:00,Spain,4209,120.0,189.0,28.510335
...,...,...,...,...,...,...
1740,2020-03-21 20:00:00,Sint Maarten,1,NaN,NaN,NaN
1741,2020-03-21 20:00:00,Somalia,1,NaN,NaN,NaN
1742,2020-03-21 20:00:00,Eswatini,1,NaN,NaN,NaN
1743,2020-03-21 20:00:00,Timor-Leste,1,NaN,NaN,NaN
1744,2020-03-21 20:00:00,Total:,303433,12964.0,94639.0,0.042724

In [9]:
total=filenod[(filenod["country"]=="Total:")]

In [10]:
total

               timestamp country   cases   deaths  recovered  death pr case
134  2020-03-13 16:00:00  Total:  139074   5116.0    70729.0       0.036786
269  2020-03-13 16:00:00  Total:  139074   5116.0    70729.0       0.036786
404  2020-03-13 22:00:00  Total:  139074   5116.0    70729.0       0.036786
555  2020-03-14 17:00:00  Total:  150648   5619.0    73734.0       0.037299
712  2020-03-15 13:00:00  Total:  159649   5960.0    75957.0       0.037332
871  2020-03-15 19:00:00  Total:  167682   6456.0    76598.0       0.038501
1030 2020-03-16 08:00:00  Total:  169943   6523.0    77778.0       0.038383
1194 2020-03-17 10:00:00  Total:  183319   7177.0    79908.0       0.039150
1372 2020-03-19 10:00:00  Total:  220313   8980.0    85769.0       0.040760
1555 2020-03-20 07:00:00  Total:  245916  10048.0    88465.0       0.040859
1744 2020-03-21 20:00:00  Total:  303433  12964.0    94639.0       0.042724

In [11]:
import matplotlib.pyplot as plt

In [12]:
total.plot(kind="scatter",x="death pr case",y="timestamp")

ValueError: scatter requires y column to be numeric

In [15]:
import matplotlib.dates as pltdates